/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #001524;
    --secondary-color: #002DF5;
    --accent1-color: #072f10;
    --accent2-color: #FCC636;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Times New Roman', Times, serif;
    --paragraph-font: Lato, Helvetica, 'Rock Salt', 'Bradley Hand', sans-serif;
    font-family: Lato, Helvetica, 'Rock Salt', 'Bradley Hand', sans-serif, 'Times New Roman', Times, serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #001524;
    /* headlines on a white background */
    --headline-color-on-color: #FCC636;
    /* headlines on a colored background */
    --paragraph-color-on-white: #072f10;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #002DF5;
    /* paragraph text on a colored background */
    --paragraph-background-color: #FCC636;
    --nav-link-color: #001524;
    --nav-background-color: #002DF5;
    --nav-hover-link-color: #072f10;
    --nav-hover-background-color: #002DF5;
}

.index_container {
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: 1fr 1fr 150px;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */


body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 22px;
    text-align: center;
}

header {
    max-width: 1200px;
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
}

footer {
    max-width: 1200px;
    background-color: var(--secondary-color);
    padding: 10px 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    text-align: justify;
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;

}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.nba_logo {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.stats_picture {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    background-color: white;
}

.home_picture {
    /* padding-top: 50px; */
    display: block;
    margin: 30px auto;
    max-width: 50%;
    /* max-height: 80%; */
    background-color: white;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

.sitemap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}

.sitemap>div {

    text-align: center;

}

.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}

.center {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 40px;
    color: var(--accent1-color);
}

.table_style {
    justify-content: space-around;
    margin: 40px auto 40px auto;
}